In [2]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

product = num1 * num2

if product <= 1000:
    print("Result:", product)
else:
    print("Result:", num1 + num2)

Result: 155

In [3]:
previous_num = 0
print("Printing current and previous number sum:")
for i in range(1, 11):
    total = i + previous_num
    print(f"Current Number: {i}, Previous Number: {previous_num}, Sum: {total}")
    previous_num = i

Printing current and previous number sum:
Current Number: 1, Previous Number: 0, Sum: 1
Current Number: 2, Previous Number: 1, Sum: 3
Current Number: 3, Previous Number: 2, Sum: 5
Current Number: 4, Previous Number: 3, Sum: 7
Current Number: 5, Previous Number: 4, Sum: 9
Current Number: 6, Previous Number: 5, Sum: 11
Current Number: 7, Previous Number: 6, Sum: 13
Current Number: 8, Previous Number: 7, Sum: 15
Current Number: 9, Previous Number: 8, Sum: 17
Current Number: 10, Previous Number: 9, Sum: 19

In [4]:
string = input("Enter a string: ")
print("Characters at even index positions:")
for i in range(0, len(string), 2):
    print(string[i])

Characters at even index positions:
P
t
o

In [5]:
def remove_chars(s, n):
    return s[n:]

text = input("Enter a string: ")
n = int(input("Enter number of characters to remove: "))
print("Result:", remove_chars(text, n))

Result: rd

In [6]:
numbers = [10, 20, 30, 10]
print("Result:", numbers[0] == numbers[-1])

Result: True

In [7]:
num_list = [10, 23, 45, 70, 88, 95]
print("Numbers divisible by 5:")
for num in num_list:
    if num % 5 == 0:
        print(num)

Numbers divisible by 5:
10
45
70
95

In [8]:
str_a = "priya is good developer. priya is a writer"
count = str_a.count("Priya")
print("priya appears", count, "times")

priya appears 0 times

In [9]:
for i in range(1, 6):
    print((str(i) + ' ' )* i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
num = int(input("Enter a number :"))
if str(num) == str(num)[::-1]:
    print("palindrome")
else:
    print("Not Palindrome")

palindrome

In [11]:
list_1 = [10, 20, 30, 40, 50]
list_2 = [12, 14, 16, 18, 22]

result = []

for num in list_1:
    if num % 2  == 0:
        result.append(num)

for num in list_2:
    if num % 2  == 0:
        result.append(num)

print("result list:", result)

result list: [10, 20, 30, 40, 50, 12, 14, 16, 18, 22]

In [13]:
num = int(input("Enter a Number: "))
rev_str = str(num)[:: -1]
print(" ".join(rev_str))

6 5

In [14]:
income = float(input("Enter your Income:"))
tax = 0

if income <= 10000:
    tax = 0

elif income <= 20000:
    tax = (income - 10000) * 0.1
else:
    tax = (10000 * 0.1) + ((income - 20000 ) * 0.2)
    print("Total_tax", tax)

Total_tax 6000.0

In [15]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i*j:3}", end=" ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [16]:
r = 5
for i in range(r, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [17]:
def exponent(base, exp):
    result = 1
    for i in range(exp):
        result *= base
    return result

print("Result:", exponent(2, 5))

Result: 32

In [18]:
num = (input("Enter a number:"))
if num == num[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [19]:
a, b = 0, 1 
print(a, b, end=" ")

for c in range(13): 
    n = a + b
    print(n, end=" ")
    a, b = b, n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [27]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [28]:
primes = []
for num in range(2, 21):
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            break
    else:
        primes.append(num)

print("All primes:", primes)
print("Alternate primes:", primes[::2])

All primes: [2, 3, 5, 7, 11, 13, 17, 19]
Alternate primes: [2, 5, 11, 17]

In [29]:
for i in range(1, 6):
    print((str(i) + " ") * (6 - i))

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [31]:
text = input("Enter text: ")
contains_digit = False

for ch in text:
    if ch.isdigit():
        contains_digit = True
        break

print("Contains digit" if contains_digit else "No digits found")

Contains digit

In [32]:
text = "Certisured.com is for python lovers"
print(text.title())

Certisured.Com Is For Python Lovers